@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bulevardul Cetatii 5,7,9<br />
    Timisoara, jud. Timis<br />
    <abbr title="Phone">P:</abbr>
    0794.482.4712
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:victor.support@outlook.com">victor.support@outlook.com</a><br />
    <strong>Contact developer:</strong> <a href="mailto:victor.albu@outlook.com">victor.albu@outlook.com</a>
</address>